<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>添加教练</title>
<link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
	<div id="addlayer" style="">
	<form method="post" class="layui-form" action="##" onsubmit="return false" id="form" enctype="multipart/form-data">
			<div class="layui-form-item">	  
		    	<label class="layui-form-label">员工编号</label>
			<div class="layui-input-inline">
	    		<input type="text" name="stuffId" id="stuffId" lay-verify="required" lay-reqtext="员工编号不能为空" placeholder="请输入员工编号" autocomplete="off" class="layui-input">
			</div>  
		    	<label class="layui-form-label">员工姓名</label>
			<div class="layui-input-inline">
		    	<input type="text" name="stuffName" id="stuffName" lay-verify="required" lay-reqtext="员工姓名不能为空" placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
			</div>	
			</div>
			
			<div class="layui-form-item">	
    			<label class="layui-form-label">员工职位</label>
    		<div class="layui-input-inline">
	     		<select name="stuffType" id="stuffType" lay-verify="required" lay-reqtext="员工职位不能为空" class="select">  
	     		<option>前台</option>   
	     		<option>管理员</option>   		          
	      		</select>
    		</div>  
		    	<label class="layui-form-label">员工密码</label>
			<div class="layui-input-inline">
		    	<input type="password" name="userPassword" id="userPassword" lay-verify="required" lay-reqtext="员工密码不能为空" placeholder="密码长度必须在6~20" autocomplete="off" class="layui-input">
			</div>
			</div> 
			 
			<div class="layui-form-item">
		    	<label class="layui-form-label">确认密码</label>
			<div class="layui-input-inline">
		    	<input type="password" name="userPassword_1" id="userPassword_1" lay-verify="required" lay-reqtext="确认密码不能为空" placeholder="请确认员工密码" autocomplete="off" class="layui-input">
			</div>  
				<label class="layui-form-label">员工性别</label>
			<div class="layui-input-inline">
		    	<select name="stuffSex" id="stuffSex" lay-verify="required" lay-reqtext="员工性别不能为空" class="select"> 
	        		<option selected="selected">男</option>
	        		<option>女</option>    		          
	      		</select>
			</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">员工生日</label>
			<div class="layui-input-inline">
		    	<input type="text" name="stuffBirthday" id="stuffBirthday" lay-verify="required" lay-reqtext="员工生日不能为空" class="layui-input test-item" placeholder="yyyy-MM-dd">
			</div>
				<label class="layui-form-label">证件类型</label>
			<div class="layui-input-inline">
		    	<select name="idcardType" id="idcardType" lay-verify="required" lay-reqtext="证件类型不能为空" class="select"> 
	        		<option selected="selected">中华人民共和国居民身份证</option>
	        		<option>港澳台居民身份证</option> 
	        		<option>机动车驾驶证</option>   		          
	      		</select>
			</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">证件编号</label>
			<div class="layui-input-inline">
		    	<input type="text" name="idcardNumber" id="idcardNumber" lay-verify="required" lay-reqtext="证件编号不能为空" placeholder="请输入证件编号" autocomplete="off" class="layui-input">
			</div>
				<label class="layui-form-label">加入时间</label>
		    <div class="layui-input-inline">
		        <input type="text" name="joinTime" id="joinTime" lay-verify="required" lay-reqtext="加入时间不能为空" class="layui-input test-item" placeholder="yyyy-MM-dd">
			</div>
			</div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">员工电话</label>
			<div class="layui-input-inline">
		    	<input type="text" name="stuffPhone" id="stuffPhone" lay-verify="required" lay-reqtext="员工电话不能为空" placeholder="请输入员工电话" autocomplete="off" class="layui-input">
			</div>
		      	<label class="layui-form-label">员工地址</label>
			<div class="layui-input-inline">
		    	<input type="text" name="stuffAddress" id="stuffAddress" placeholder="请输入员工地址" autocomplete="off" class="layui-input">
		    </div>
		    </div>
			
			<div class="layui-form-item">
				<label class="layui-form-label">备注</label>
			<div class="layui-input-inline">
		    	<input type="text" name="stuffNote" id="stuffNote" placeholder="请输入备注 " autocomplete="off" class="layui-input">
			</div>
				<label class="layui-form-label">员工照片</label>
			<div class="layui-input-inline">
		    	<input type="file" name="image" id="image" value="上传照片"  autocomplete="off" class="layui-input">
		    </div>
			</div>
			
			<div class="layui-form-item">
		    </div>
		    <div class="layui-form-item">
		    </div>
		    <div class="layui-form-item">
		    </div>
			
			<div class="layui-form-item layui-layout-center" style="width:200px;height:60px;margin:auto">
		   		<input type="submit" id="button" class="layui-btn layui-btn-normal" lay-submit="" value="保存">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		   		<input type="reset" class="layui-btn layui-btn-warm" value="重置">
			</div>
  	</form>
  	</div>
	<script src="../layui/layui.js"></script>
	<script type="text/javascript">
	
		layui.use(['form','jquery','layer','element','laydate'],function(){
			var form=layui.form;
			var layer=layui.layer;
			var element=layui.element;
			var $=layui.jquery;	
			var laydate=layui.laydate;
			var index=parent.layer.getFrameIndex(window.name);
			layer.ready(function(){
				lay('.test-item').each(function(){
				    laydate.render({
				       elem: this
				      ,trigger: 'click'
				    });
				});
			});
			$(document).on('click','#button',function(){
				var stuffId=document.getElementById("stuffId").value;
				var stuffName=document.getElementById("stuffName").value;
				var stuffType=document.getElementById("stuffType").value;
				var userPassword_1=document.getElementById("userPassword").value;
				var userPassword_2=document.getElementById("userPassword_1").value;
				var stuffSex=document.getElementById("stuffSex").value;
				var stuffBirthday=document.getElementById("stuffBirthday").value;
				var idcardType=document.getElementById("idcardType").value;
				var idcardNumber=document.getElementById("idcardNumber").value;
				var joinTime=document.getElementById("joinTime").value;
				var stuffPhone=document.getElementById("stuffPhone").value;
				var stuffAddress=document.getElementById("stuffAddress").value;
				
				var formData=new FormData($('#form')[0]);
				
				//正则表达式
				let phoneReg = /^1(3|4|5|6|7|8|9)\d{9}$/;
				var idcardReg=/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;
				
				if(stuffId==""){
					layer.alert('员工ID不能为空！！！');
					return false;
				}
				if(stuffName==""){
					layer.alert('员工姓名不能为空！！！');
					return false;
				}
				if(stuffType==""){
					layer.alert('员工职位不能为空！！！');
					return false;
				}
				if(userPassword_1.length<6){
					layer.alert('密码长度必须大于6位！！！');
					return false;
				}
				if(userPassword_1!=userPassword_2){
					layer.alert('两次密码输入不一致！！！');
					return false;
				}
				if(stuffSex==""){
					layer.alert('员工性别不能为空！！！');
					return false;
				}
				if(stuffBirthday==""){
					layer.alert('员工生日不能为空！！！');
					return false;
				}
				if(idcardType==""){
					layer.alert('证件类型不能为空！！！');
					return false;
				}
				if(!idcardReg.test(idcardNumber)){
					layer.alert('证件号码为空或格式错误！！！');
					return false;
				}
				if(joinTime==""){
					layer.alert('加入时间不能为空！！！');
					return false;
				}
				if(!phoneReg.test(stuffPhone)){
					layer.alert('电话为空或格式错误！！！');
					return false;
				}
				if(stuffAddress==""){
					layer.alert('员工地址不能为空！！！');
					return false;
				}
				
				$.ajax({
					type:'post'
					,url:'/setting/stuff_add_do'
					,data:formData
					,async:false
					,cache:false
					,contentType:false
					,processData:false
					,success:function(){
						layer.alert("新增成功！！！",function(){parent.location.reload();});
					}
					,error:function(){
						layer.alert("新增失败！！！");
					}
				});
			});			
		});
		
	</script>
</body>
</html>