@CHARSET "UTF-8";

.index__tips{
	width: 100%;
	color: red;
	font-size: 16px;
	font-family: "microsoft yahei";
	text-align: center;
}

.index__title{
	font-size: 20px;
	font-family: "microsoft yahei";
	margin: 0 auto;
	width: auto;
	text-align: center;
	padding: 10px 0 15px 0;
}

.index__video-panel{
	width: 450px;
	height:300px;
	padding:0;border:0;
	z-index: 0;
	margin: 0 auto;
}

.index__video{
	width:450px;
	height:300px;
	position: relative;
	z-index: 0;
	/* float:left; */
}

.index__video-over{
	/* float:left; */
	position: relative;
	z-index:1;
	margin:-450px 0 0 125px;
}

.index__video-over-button{
	position: relative;
	z-index:1;
	color: white;
	background-color:#CDB5CD;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin:-40px 0 0 175px;
	text-align: center;
	cursor: pointer;
}
